:root {
    --red-color: rgba(216, 20, 20, 255);
    --red-color-dark: rgba(162, 15, 15, 255);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: inherit;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: var(--red-color);
    margin-left: 150px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.logo-svg {
    color:white;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
}

.button {
    background-color: white;
    border: none;

}

.shopping {
    display: flex;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 150px;
}

.cart {
    position: relative;
}

.ticker {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-style: italic;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    top:-65%;
    right: -30%;
    width: 20px;
    height: 20px;
    background-color: var(--red-color-dark);
    border-radius: 50%;
}