:root {
    --box-shadow-color: rgb(100,100,100,.1);
    --gray-brightness: 50%;
    --gray-brightness-img: 70%;
    --red-color: rgba(216, 20, 20, 255);
    --red-color-dark: rgba(162, 15, 15, 255);
    --button-color: 50;
    --card-border: rgb(210,210,210);
}

.nav-bar-small {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0px 2px 3px var(--box-shadow-color);
    top: 0px;
    left: 0px;
    transition: height 0.3s ease;
}

.spacer {
    width: 100%;
    height: 110px;
}

.nav-bar {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 120px;
    background-color: white;
    box-shadow: 0px 2px 3px var(--box-shadow-color);
    top: 0px;
    left: 0px;
    transition: height 0.3s ease;
}

.content {
    padding-top: 133px;
    width: 100%;
}

.categories {
    display:flex;
    column-gap: 13px;
    row-gap: 13px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.left {
    position: relative;
    height: 500px;
    display:flex;
    column-gap: 13px;
    row-gap: 13px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 850px;
}

.right {
    height: 500px;
    row-gap: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 280px;
}

.box-right {
    position: relative;
    height: 243.5px;
    width: 100%;
    transition: filter 1.5s ease;
    cursor: pointer;
}

.box-right-img {
    height: inherit;
    width: inherit;
    filter: brightness(var(--gray-brightness-img));
    transition: filter 1.5s ease;
    cursor: pointer;
    object-fit: cover;
}

.box-right-img:hover {
    filter: brightness(var(--gray-brightness));
}

.box-left-big {
    position: relative;
    height: 100%;
    width: 568.5px;
}

.box-left-big-img {
    width: inherit;
    height: inherit;
    transition: filter 1.5s ease;
    filter: brightness(var(--gray-brightness-img));
    object-fit: cover;
    cursor: pointer;

}

.box-left-big-img:hover {
    position: relative;
    filter: brightness(var(--gray-brightness));
}

.box-left-small {
    position: relative;
    height: 100%;
    width: 268.5px;
}

.box-left-small-img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    filter: brightness(var(--gray-brightness-img));
    transition: filter 1.5s ease;
    cursor: pointer;
}

.box-left-small-img:hover {
    filter: brightness(var(--gray-brightness));
}

.category-text {
    position: absolute;
    top:0%;
    left:0%;
}

.text {
    color:white;
    position: absolute;
    bottom: 23px;
    left: 20px;
    z-index: 1;
}

.nav-text, .proud, .anek-malayalam-font {
    font-family: "Anek Malayalam", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 35px;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.nav-text {
    font-size: 24px;
    cursor: pointer;
}

.proud {
    padding-left: 10%;
    font-size: 24px;
}

.anek-malayalam-font-light {
    font-family: "Anek Malayalam", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: inherit;
}

.logo-container {
    position: relative;
    margin-left: 10%;
    width: 70px;
    height: 70px;
}

.logo {
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: var(--red-color);
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.logo-svg {
    color:white;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

.button {
    background-color: white;
    border: none;
    cursor: pointer;

}

.button:hover {
    color: rgb(var(--button-color),var(--button-color),var(--button-color));
}

.shopping {
    display: flex;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

.hamburger, .cart {
    position: relative;
    cursor: pointer;
}

.ticker {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-style: italic;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    top:-65%;
    right: -30%;
    width: 20px;
    height: 20px;
    background-color: var(--red-color-dark);
    border-radius: 50%;
}

.x-icon {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 70px;
}

.x-svg {
    padding-right: 5%;
    padding-top: 5%;
    cursor: pointer;
}

.navigation-container {
    row-gap: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
}

.products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    width: 1152px;
}

.box {
    padding-top: 45px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 269px;
    height: 360px;
    border: 2px solid var(--card-border);
}