@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
    --box-shadow-color: rgb(100,100,100,.1);
    --gray-brightness: 50%;
    --gray-brightness-img: 70%;
    --red-color: rgba(216, 20, 20, 255);
    --red-color-dark: rgba(162, 15, 15, 255);
    --button-color: 50;
    --card-border: rgb(210,210,210);
    --card-borde-hover: rgb(0,0,0);
    --grey-wallpaper: rgba(233, 233, 233, 255);
    --grey-wallpaper-two: rgba(213, 213, 213, 255);
    --newsletter: rgba(25, 25, 25, 255);
    --hover: rgb(230,230,230);
    --button-box: rgba(55, 55, 55, 255);
    --grey-cat: rgb(150,150,150);
    --height: 30px;
    --grey-button: rgb(50,50,50);
    --product-grey: rgba(229, 229, 229, 255);
    --red-buy: rgba(182, 0, 44, 255);
    --hover-img: rgb(180,180,180);
    --box-shadow-color-2: rgb(200,200,200);
}

.nav-bar-small {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0px 2px 3px var(--box-shadow-color);
    top: 0px;
    left: 0px;
    transition: height 0.3s ease;
}

.spacer {
    width: 100%;
    height: 110px;
}

.nav-bar {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 120px;
    background-color: white;
    box-shadow: 0px 2px 3px var(--box-shadow-color);
    top: 0px;
    left: 0px;
    transition: height 0.3s ease;
}

.content {
    padding-top: 133px;
    width: 100%;
}

.categories {
    display:flex;
    column-gap: 13px;
    row-gap: 13px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.left-skin {
    position: relative;
    height: 500px;
    display:flex;
    column-gap: 13px;
    row-gap: 13px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 850px;
    border: none;
}

.right-one {
    height: 500px;
    row-gap: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 280px;
}

.right-new {
    height: 500px;
    row-gap: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.box-right {
    position: relative;
    height: 243.5px;
    width: 100%;
    transition: filter 1.5s ease;
    cursor: pointer;
}

.box-right-img {
    height: inherit;
    width: inherit;
    filter: brightness(var(--gray-brightness-img));
    transition: filter 1.5s ease;
    cursor: pointer;
    object-fit: cover;
}

.box-right-img-small {
    height: inherit;
    width: inherit;
    filter: brightness(var(--gray-brightness-img));
    transition: filter 1.5s ease;
    cursor: pointer;
    object-fit: cover;
}

.box-right-img:hover {
    filter: brightness(var(--gray-brightness));
}

.box-left-big {
    position: relative;
    height: 100%;
    width: 568.5px;
}

.box-left-big-img {
    width: inherit;
    height: inherit;
    transition: filter 1.5s ease;
    filter: brightness(var(--gray-brightness-img));
    object-fit: cover;
    cursor: pointer;

}

.box-left-big-img:hover {
    position: relative;
    filter: brightness(var(--gray-brightness));
}

.box-left-small {
    position: relative;
    height: 100%;
    width: 268.5px;
}

.box-left-small-img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    filter: brightness(var(--gray-brightness-img));
    transition: filter 1.5s ease;
    cursor: pointer;
}

.box-left-small-img:hover {
    filter: brightness(var(--gray-brightness));
}

.category-text {
    position: absolute;
    top:0%;
    left:0%;
}

.text {
    color:white;
    position: absolute;
    bottom: 23px;
    left: 20px;
    z-index: 1;
}

.buy-now, .add-to-cart, .middle, .trend-text, .shop-now, .header, .nav-text, .proud, .anek-malayalam-font {
    font-family: "Anek Malayalam", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 35px;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.nav-text {
    font-size: 24px;
    cursor: pointer;
}

.proud {
    padding-left: 10%;
    font-size: 24px;
}

.anek-malayalam-font-light {
    font-family: "Anek Malayalam", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: inherit;
}

.logo-container {
    position: relative;
    margin-left: 10%;
    width: 70px;
    height: 70px;
}

.logo {
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: var(--red-color);
    font-size: 24px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.logo-svg {
    color:white;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

.button {
    background-color: white;
    border: none;
    cursor: pointer;

}

.button:hover {
    color: rgb(var(--button-color),var(--button-color),var(--button-color));
}

.shopping {
    display: flex;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

.hamburger, .cart {
    position: relative;
    cursor: pointer;
}

.ticker {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-style: italic;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    top:-65%;
    right: -30%;
    width: 20px;
    height: 20px;
    background-color: var(--red-color-dark);
    border-radius: 50%;
}

.x-icon {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 70px;
}

.x-svg {
    padding-right: 5%;
    padding-top: 5%;
    cursor: pointer;
}

.navigation-container {
    row-gap: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
}

.products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    width: 1152px;
}

.box {
    padding-top: 45px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box-grey {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 269px;
    height: 360px;
    border: 2px solid var(--card-border);
    transition: .5s border ease;
}

.card-small {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 290px;
    border: 2px solid var(--card-border);
    transition: .5s border ease;
}

.card-small:hover {
    border: 2px solid var(--card-borde-hover);
}

.card-new {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 360px;
    border: 2px solid var(--card-border);
    transition: .5s border ease;
}

.card:hover {
    border: 2px solid var(--card-borde-hover);
}

.card-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-container-2 {
    width: 269px;
    height: 360px;
    overflow: hidden;
}

.card-container-2-new {
    width: 90%;
    height: 360px;
    overflow: hidden;
}

card-img-small {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

img-container-card-small {
    width: 220px;
    height: 234px;
    overflow: hidden;
}

.card-img-small {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-container-card-small {
    width: 220px;
    height: 234px;
    overflow: hidden;
}

.card-title {
    position: relative;
    width: inherit;
    height: 40px;
}

.card-title-small {
    position: relative;
    width: inherit;
    height: 32px;
}

.card-price {
    position: relative;
    width: inherit;
    height: 40px;
}

.card-price-small {
    font-size: 23px;
    font-weight: 1000;
}

.card-price-small {
    position: relative;
    width: inherit;
    height: 40px;
}

.card-title-text {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 20%;
    left: 2%;
}

.card-price-text {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 15%;
    left: 2%;
}

.cart-card-text-two, .cart-card-text, .your, .logo, .mini-mini-title, .product-description, .card-price-small, .call-action, .subscribe-news, .subscribe, .card-price, .card-text, .sunflower-light {
    font-family: "Sunflower", sans-serif;
    font-style: normal;
  }
  

.card-text {
    font-size: 15px;
    font-weight: 600;
}

.card-price {
    font-size: 23px;
    font-weight: 1000;
}

.wallpaper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    width: 50%;
    height: 400px;
    background-color: var(--grey-wallpaper);
} 

.wallpaper-new {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 360px;
    background-color: var(--grey-wallpaper);
} 

.wallpaper-container-img {
    width: 50%;
    height: 400px;
}

.container-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.triple-container {
    width: 100%;
}

.container-container-new {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container-wallpaper-new {
    width: 90%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--grey-wallpaper);
}

.wallpaper-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.wallpaper-img-new {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: var(--grey-wallpaper);
}

.container-wallpaper {
    width: 80%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.container-wallpaper-new {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}


.product-title-text-new, .quant-price-new, .left-right-control, .quant-price, .mini-title, .product-title-text, .text-bottom, .clout, .newsletter-text, .prompt-black {
    font-family: "Prompt", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.newsletter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 280px;
    background-color: var(--newsletter);
    flex-wrap: wrap;
}

.newsletter-text {
    font-size: 40px;
    color:white;
    font-weight: 900;
}

.subscribe-container {
    column-gap: 13px;
    row-gap: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.subscribe-news {
    padding-left: 7px;
    width: 150px;
    height: 28px;
    font-size: 15px;
    font-weight: 300;
    border: none;
}

.subscribe {
    cursor: pointer;
    width: 90px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    border: none;
}

.space {
    width: 100%;
    height: 20px;
}

input:focus, 
textarea:focus, 
select:focus {
    outline: none;
}

input {
    text-align: left;
}

.bottom-container {
    width: 100%;
    height: 170px;
    background-color: black;
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    justify-content: center;
}

.bottom-container-new {
    padding-top: 23px;
    height: 200px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    justify-content: center;
    padding-bottom: 23px;
}

.bottom-text {
    column-gap: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.clout {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
}

.clout:hover {
    color: var(--hover);
}

.text-bottom {
    font-weight: 500;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.text-bottom:hover {
    color: var(--hover);
}

.header {
    text-align: left;
    font-size: 30px;
    font-weight: 800;
}

.header-two {
    text-align: left;
    font-size: 30px;
    font-weight: 800;
}

.call-action {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
}

.shop-now {
    height: 50px;
    width: 140px;
    color: white;
    text-align: center;
    border: none;
    background-color: black;
    cursor: pointer;
    font-size: 20px;
    transition: .5s background-color ease;
}

.info-container {
    width: 80%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.shop-now:hover {
    background-color: white;
    border: 4px solid black;
    color: black;
}

.trend-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.trend {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    row-gap: 20px;
}

.trend-text {
    font-size: 24px;
}

.trend-buttons-container {
    display: flex;
    column-gap: 10px;
    flex-wrap: nowrap;

}

.button-box {
    cursor: pointer;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 40px;
    height: 40px;
    background-color: var(--button-box);
    transition: .3s background-color ease;
}

.button-box:hover {
    background-color: black;
}

.spacer-2 {
    width: 100%;
    height: 45px;
}

.slider-container {
    width: 80%;
}

.slider-container-2 {
    display: flex;
    justify-content: center;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container-cat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 13px;
    column-gap: 13px;
}

.cat-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--grey-cat);
    background-color: white;
    color: black;
    height: var(--height);
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}

.cat-button:hover {
    color: var(--grey-button);
}

.product-buy-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product-buy-container-two-new, .product-buy-container-two {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product-buy-container-two-new {
    width: 97%;
    row-gap: 35px;
    flex-direction: column;
}

.product-title-text {
    z-index: 800;
    font-size: 32px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 25%);
}

.product-title-text-new {
    z-index: 800;
    font-size: 25px;
    text-align: center;
}

.product-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 590px;
    background-color: var(--product-grey);
}

.product-info-container-new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: var(--product-grey);
}

.context-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.context-container-new {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.context-container-2 {
    width: 31.5%;
    background-color: var(--product-grey);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.context-container-2-new {
    width: inherit;
    background-color: var(--product-grey);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.context-container-3 {
    width: 90%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.mini-title {
    font-size: 25px;
    font-weight: 600;
}

.mini-mini-title {
    font-size: 16px;
    font-weight: 500;
}

.product-info-container-2 {
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.product-info-container-2-new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.product-description-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.product-description-container-new {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-description {
    font-size: 20px;
    font-weight: 500;
    color: black;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.add-to-cart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    height: 70px;
    width: 100%;
}

.add-to-cart-container-new {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    height: 70px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.add-to-cart {
    height: 72%;
    width: 47.5%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    transition: .1s background-color ease;
}

.add-to-cart:hover {
    color: white;
    background-color: black;
}

.buy-now {
    height: 72%;
    width: 47.5%;
    background-color: var(--red-buy);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid var(--red-buy);
    font-size: 16px;
    transition: .1s background-color ease;
}

.buy-now:hover {
    background-color: var(--product-grey);
    color: var(--red-buy);
    border: 2px solid var(--red-buy);
}

.quantity-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3px;
    height: 140px;
    width: 100%;
}

.quantity-container-new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    height: 140px;
    width: 100%;
}

.quant-price-new, .quant-price {
    font-size: 28px;
    font-weight: 400;
}

.quant-price-new {
    font-size: 20px;
}

.quant-change-container {
    border: 1px solid black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.left-right-control {
    cursor: pointer;
    user-select: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: white;
    color: black;
    transition: .5s background-color ease;
}

.left {
    border-right: .5px solid black;
}

.right {
    border-left: .5px solid black;
}


.middle-number {
    background-color: var(--product-grey);
    border-right: .5px solid black;
    border-left: .5px solid black;
    cursor: auto;
}

.left-right-control:hover {
    background-color: var(--product-grey);
}

.product-images-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 590px;
}

.product-images-container-new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product-images-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.product-big-image-container {
    height: 340px;
    overflow: hidden;
    width: inherit;
}

.three-max-image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    height: 100px;
}

.three-max-image-container-new {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

.product-image-check-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px solid white;
}

.product-image-check-container:hover {
    border: 1px solid var(--hover-img);
    box-shadow: 0px 2px 6px var(--box-shadow-color-2);
}

.product-image-check {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.null {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-style: italic;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    top:-65%;
    right: -30%;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}

.cart-container {
    position: fixed;
    top: 0%;
    right: 0%;
    background-color: black;
    opacity: .5;
    width: 100%;
    height: 1000px;
}

.cart-container-2 {
    position: fixed;
    top: 0%;
    right: 0%;
    background-color: white;
    opacity: 1;
    width: 500px;
    height: 100%;
}

.cart-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.your {
    padding-top: 20px;
    font-size: 28px;
    font-weight: 1000;
    padding-left: 20px;
}

.text-container-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
}

.cart-2 {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-right: 20px;
    cursor: pointer;

}

.cart-img-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-img-container-2 {
    width: 250px;
    height: 250px;
}

.cart-img-container-3 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.pad {
    padding-right: 25px;
}

.pad-top {
    padding-top: 15px;
}

.total-container {
    height: 130px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar-cart {
    height: 2px;
    width: 93%;
    background-color: black;
}

.bottom-content-container {
    height: 80%;
    width: 93%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

.bottom-content-container-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.shop-now-2 {
    width: auto;
}

.total-container-new {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.quant-price-ship {
    font-style: italic;
    font-size: 20px;
}

.content-cards-container {
    width: 85%;
    height: calc(100vh - 130px - 85px);
    min-height: 123px;
    row-gap: 20px;
    overflow: auto;
    color: wheat;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.cart-card-container {
    position: relative;
    border: 1px solid black;
    border-radius: 3px;
    background-color: var(--grey-wallpaper);
    width: 99%;
    height: 120px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.left-cart-card {
    background-color: white;
    width: 28%;
    height: inherit;
}

.pad-right {
    padding-right: 5px;
}

.img-cart-card {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.right-cart-card {
    width: 72%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.right-cart-card-2 {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.cart-card-text {
    color: black;
    font-size: 20px;
}

.cart-card-text-two {
    width: 85%;
    color: black;
    font-size: 20px;
}

.cart-text {
    position: absolute;
    top: 5%;
    transform: translate(-100%,0%);
}

.x {
    color: black;
}

.subscribe-news-new {
    padding-left: 7px;
    margin-top: 6px;
    width: 452px;
    height: 28px;
    font-size: 15px;
    font-weight: 300;
    border: 2px solid black;
}

.shop-now-3 {
    text-align: center;
    font-size: 15px;
    font-weight: 1000;
    width: 465px;
}

.shop-now-3:hover {
    text-align: center;
    border: 2px solid black;
    font-weight: 1000;
}

.new-size {
    width: 30px;
    height: 30px;
    font-size: 20px;
}